.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__label {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
}

.form__input {
    display: flex;
    font-size:30px;
    border: 2px solid #3a3a39;
}

.form__button {
    display: flex;
    width: 200px;
    justify-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(61, 112, 81);
    border-color: rgb(43, 70, 48);
    font-size: 24px;
}

.form__button:hover {
    background-color: rgb(91, 186, 110);
    border-color: rgb(98, 109, 109);
}