.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    background-color: #b1adad;
}

.title {
    display: flex;
    justify-content: center;
    color: blue;
}

.title__list {
    display: flex;
    justify-content: center;
    color: blue;
}